@import "tailwindcss";

:root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: 'auto';
    font-style: normal;
}


/* Hide scrollbar but keep scrolling */
.sidebar-scroll {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE & Edge */
}

.sidebar-scroll::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}